loading data from CSV file

In [20]:
import pandas as pd

df=pd.read_csv("C:/Users/User/Desktop/m4.csv/Student_details.csv")  # read the CSV File
print(df.head())

   Roll No   Student Name parental level of education  math score
0        1     John Smith                 high school          67  \
1        2       Jane Doe            some high school          40
2        3      David Lee                some college          59
3        4  Sarah Johnson                 high school          77
4        5     Kim Nguyen          associate's degree          78

   Science score  Total score
0             67          134
1             59           99
2             60          119
3             78          155
4             73          151

In [4]:
print(df.tail())

    Roll No   Student Name parental level of education  math score
95       96  Emily Johnson                 high school          58  \
96       97      David Lee          associate's degree          95
97       98    Sarah Brown                 high school          45
98       99   Michael Wong                some college          63
99      100           Ravi                 high school          97

    Science score  Total score
95             63          121
96            100          195
97             52           97
98             50          113
99             89          186

In [16]:
print(df.loc[81]) # find the perticular student data using index

Roll No                                      82
Student Name                        Emma Watson
parental level of education    some high school
math score                                   31
Science score                                38
Total score                                  69
Name: 81, dtype: object

In [2]:
print(df.to_string)

<bound method DataFrame.to_string of     Roll No   Student Name parental level of education  math score
0         1     John Smith                 high school          67  \
1         2       Jane Doe            some high school          40
2         3      David Lee                some college          59
3         4  Sarah Johnson                 high school          77
4         5     Kim Nguyen          associate's degree          78
..      ...            ...                         ...         ...
95       96  Emily Johnson                 high school          58
96       97      David Lee          associate's degree          95
97       98    Sarah Brown                 high school          45
98       99   Michael Wong                some college          63
99      100           Ravi                 high school          97

    Science score  Total score
0              67          134
1              59           99
2              60          119
3              78          155
4              73          151
..            ...          ...
95             63          121
96            100          195
97             52           97
98             50          113
99             89          186

[100 rows x 6 columns]>

In [22]:
print(df.shape) # print data shape

(100, 6)

In [26]:
print(df.columns) # print the all columns names
print(df.columns[3]) # print only selcting columns names

Index(['Roll No', 'Student Name', 'parental level of education', 'math score',
       'Science score', 'Total score'],
      dtype='object')
math score

In [41]:
print(df['Student Name'].head(10))# print the First 10 student names

0       John Smith
1         Jane Doe
2        David Lee
3    Sarah Johnson
4       Kim Nguyen
5    Michael Brown
6      Emily Davis
7     Lucas Santos
8    Laura Janssen
9     Mohammed Ali
Name: Student Name, dtype: object

In [36]:
print(df['Student Name'].tail(10))# print the last 10 student names

90      Liam Nguyen
91     Giulia Rossi
92     Putra Wijaya
93       Kim Min-ji
94       John Smith
95    Emily Johnson
96        David Lee
97      Sarah Brown
98     Michael Wong
99             Ravi
Name: Student Name, dtype: object

In [43]:
print(df[0:50:3]) #  print the student  slic datan using index

    Roll No        Student Name parental level of education  math score
0         1          John Smith                 high school          67  \
3         4       Sarah Johnson                 high school          77
6         7         Emily Davis           bachelor's degree          62
9        10        Mohammed Ali                some college          47
12       13           Lily Wong          associate's degree          77
15       16     James MacKenzie          associate's degree          69
18       19    Olivia Rodriguez          associate's degree          23
21       22        James Wilson          associate's degree          58
24       25         Lily Nguyen            some high school          46
27       28         Alice Smith                 high school          71
30       31          Emma Davis                some college          87
33       34          Sophia Lee          associate's degree          65
36       37       William Davis                some college          57
39       40            Adam Lee          associate's degree          98
42       43         Maria Silva                 high school          87
45       46       Michael Davis           bachelor's degree          60
48       49  Laura van den Berg                 high school          68

    Science score  Total score
0              67          134
3              78          155
6              59          121
9              42           89
12             87          164
15             61          130
18             44           67
21             52          110
24             38           84
27             68          139
30             79          166
33             65          130
36             77          134
39             81          179
42             79          166
45             46          106
48             72          140