In [1]:
import pandas as pd

df=pd.read_csv("C:/Users/User/Desktop/m4.csv/Student_details.csv")  # read the CSV File
print(df.head())

   Roll No   Student Name parental level of education  math score
0        1     John Smith                 high school          67  \
1        2       Jane Doe            some high school          40
2        3      David Lee                some college          59
3        4  Sarah Johnson                 high school          77
4        5     Kim Nguyen          associate's degree          78

   Science score  Total score
0             67          134
1             59           99
2             60          119
3             78          155
4             73          151

In [2]:
print(df.to_string)

<bound method DataFrame.to_string of     Roll No   Student Name parental level of education  math score
0         1     John Smith                 high school          67  \
1         2       Jane Doe            some high school          40
2         3      David Lee                some college          59
3         4  Sarah Johnson                 high school          77
4         5     Kim Nguyen          associate's degree          78
..      ...            ...                         ...         ...
95       96  Emily Johnson                 high school          58
96       97      David Lee          associate's degree          95
97       98    Sarah Brown                 high school          45
98       99   Michael Wong                some college          63
99      100           Ravi                 high school          97

    Science score  Total score
0              67          134
1              59           99
2              60          119
3              78          155
4              73          151
..            ...          ...
95             63          121
96            100          195
97             52           97
98             50          113
99             89          186

[100 rows x 6 columns]>