java script operate notation (json)

In [9]:
import pandas as pd

df=pd.read_json("E:\AI&ML\data.json")
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [26]:
import pandas as pd
Df=pd.read_json("E:\AI&ML\ML.json")
Df

,Student1,Student2,Student3,Student4,Student5,Student6
Name,Ravi,Ramesh,Komal,Ramu,Shankar,Lokesh
Roll No,1,2,3,4,5,6
Age,18,19,20,21,22,23
Class,12,12,13,12,13,12
Phone Number1,+91-0000000000,+91-0000000000,+91-0000000000,+91-0000000000,+91-0000000000,+91-0000000000

In [35]:
import pandas as pd
Df=pd.read_json("E:\AI&ML\Data1.json")
Df

                                                   students
student1  {'name': 'ABC', 'rollnumber': 1, 'class': 1, '...
student2  {'name': 'DEF', 'rollnumber': 2, 'class': 2, '...
student3  {'name': 'EFG', 'rollnumber': 3, 'class': 3, '...