Creating series

In [18]:
import pandas as pd 
import numpy as np

a=np.array([" shankar","gourav","Ravi"])
S=pd.Series(a) # print data in series
print(S)

S=pd.Series((110,20,30,40,50))
print(S)

0     shankar
1      gourav
2        Ravi
dtype: object
0    110
1     20
2     30
3     40
4     50
dtype: int64

In [31]:
import numpy as np
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S) # print the data with index number

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int32

In [32]:
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S["d"]) # Data find

40

Creating series using lists

In [43]:
l=[10,20,30,40,50]
pd.Series(l) # create series usiong list method

0    10
1    20
2    30
3    40
4    50
dtype: int64

Series using Dictionary

In [45]:
D={"A":100,"B":200,"C":300,"D":400,"E":500}
pd.Series(D)

A    100
B    200
C    300
D    400
E    500
dtype: int64

Crating data frames

In [59]:
import pandas as pd

df={ "Name" :["Ravi","Ramesh","Ganesh","Ragu","Ramu"],
    "catagory":["2A","3B","SC","ST","OBC"]}
myvar=(pd.DataFrame(df)) # creating the data frame
print(myvar)
print("---------------------")

myvar.loc[4]

     Name catagory
0    Ravi       2A
1  Ramesh       3B
2  Ganesh       SC
3    Ragu       ST
4    Ramu      OBC
---------------------

Name        Ramu
catagory     OBC
Name: 4, dtype: object

In [ ]:
# accessing rows by using loc keyword

Loading Files Into a DataFrame

In [39]:
import pandas as pd

df=pd.read_csv("C:/Users/User/Desktop/m4.csv/Student_details.csv")  # read the CSV File
df

,Roll No,Student Name,parental level of education,math score,Science score,Total score
0,1,John Smith,high school,67,67,134
1,2,Jane Doe,some high school,40,59,99
2,3,David Lee,some college,59,60,119
3,4,Sarah Johnson,high school,77,78,155
4,5,Kim Nguyen,associate's degree,78,73,151
...,...,...,...,...,...,...
95,96,Emily Johnson,high school,58,63,121
96,97,David Lee,associate's degree,95,100,195
97,98,Sarah Brown,high school,45,52,97
98,99,Michael Wong,some college,63,50,113
99,100,Ravi,high school,97,89,186

In [38]:
print(df.to_string)

<bound method DataFrame.to_string of     Roll No   Student Name parental level of education  math score
0         1     John Smith                 high school          67  \
1         2       Jane Doe            some high school          40
2         3      David Lee                some college          59
3         4  Sarah Johnson                 high school          77
4         5     Kim Nguyen          associate's degree          78
..      ...            ...                         ...         ...
95       96  Emily Johnson                 high school          58
96       97      David Lee          associate's degree          95
97       98    Sarah Brown                 high school          45
98       99   Michael Wong                some college          63
99      100           Ravi                 high school          97

    Science score  Total score
0              67          134
1              59           99
2              60          119
3              78          155
4              73          151
..            ...          ...
95             63          121
96            100          195
97             52           97
98             50          113
99             89          186

[100 rows x 6 columns]>

java script operate nottion (json)