Creating series

In [5]:
import pandas as pd 
import numpy as np

a=np.array([" shankar","gourav","Ravi"])
S=pd.Series(a) # print data in series
print(S)

S=pd.Series((110,20,30,40,50))
print(S)

0     shankar
1      gourav
2        Ravi
dtype: object
0    110
1     20
2     30
3     40
4     50
dtype: int64

In [6]:
import numpy as np
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S) # print the data with index number

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int32

In [7]:
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S["d"]) # Data find

40

Creating series using lists

In [8]:
l=[10,20,30,40,50]
pd.Series(l) # create series usiong list method

0    10
1    20
2    30
3    40
4    50
dtype: int64

Series using Dictionary

In [9]:
D={"A":100,"B":200,"C":300,"D":400,"E":500}
pd.Series(D)

A    100
B    200
C    300
D    400
E    500
dtype: int64

Crating data frames

In [10]:
import pandas as pd

df={ "Name" :["Ravi","Ramesh","Ganesh","Ragu","Ramu"],
    "catagory":["2A","3B","SC","ST","OBC"]}
myvar=(pd.DataFrame(df)) # creating the data frame
print(myvar)
print("---------------------")

myvar.loc[4]

     Name catagory
0    Ravi       2A
1  Ramesh       3B
2  Ganesh       SC
3    Ragu       ST
4    Ramu      OBC
---------------------

Name        Ramu
catagory     OBC
Name: 4, dtype: object

#  In data analysis pandas role  varies step

# Data importing  Step

In [11]:

import pandas as pd

# Import the data using (pd.read_csv)
print(pd.read_csv("E:\AI&ML\Exel sheets\Licence_data.csv"))

          Age  Performance  License_Status
0        20.0         50.0  License_Status
1        23.0         80.0  License_Status
2        24.0         85.0  License_Status
3        16.0         45.0  License_Status
4        26.0         81.0  License_Status
...       ...          ...             ...
1048570   NaN          NaN  License_Status
1048571   NaN          NaN  License_Status
1048572   NaN          NaN  License_Status
1048573   NaN          NaN  License_Status
1048574   NaN          NaN  License_Status

[1048575 rows x 3 columns]

In [16]:
# Import the data using (pd.read_tabel)
print(pd.read_table("E:\AI&ML\Exel sheets\Licence_data.csv"))# import the csv data File

data = pd.read_table('data.txt')
print(data) # import the data of text file

        Age,Performance,License_Status
0                 20,50,License_Status
1                 23,80,License_Status
2                 24,85,License_Status
3                 16,45,License_Status
4                 26,81,License_Status
...                                ...
1048570               ,,License_Status
1048571               ,,License_Status
1048572               ,,License_Status
1048573               ,,License_Status
1048574               ,,License_Status

[1048575 rows x 1 columns]
Empty DataFrame
Columns: [welcome to world]
Index: []

# another method of i,port data methods
# pd.read_excel()
# pd.read_csv()
# pd.read_sql()
# pd.read_json()
# pd.read_html()
# pd.DataFrame()
# pd.concat()
# pd.Series()
# pd.date_range()

# Data cleaning methods of pandas

In [15]:
import pandas as pd

data=pd.DataFrame({
    "A": [1,2,None,4],
    "B":[5 ,None,7,8],
    "C":[9,10,11,12]
})
print(data.fillna(0))# fill the data to the empty cell
print("------------------------------------------")
print(data.dropna()) # delet the Which row will empty the hole row delet the data

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  7.0  11
3  4.0  8.0  12
------------------------------------------
     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [26]:

data=pd.DataFrame({
    "A": [3,2,None,1],
    "B":[9 ,None,7,8],
    "C":[5,10,11,12]
})
data.sort_values(by="A",inplace=True)
print(data) # sorting the concider the Data

     A    B   C
3  1.0  8.0  12
1  2.0  NaN  10
0  3.0  9.0   5
2  NaN  7.0  11

In [32]:
import pandas as pd

data = pd.DataFrame({
    "A": [3, 2, None, 1],
    "B": [5, None, 7, 8],
    "C": [9, 10, 11, 12]
})

# Define a custom function to double the values
def adding_the_value(x):
    return x+3



# Apply the custom function to each element of the DataFrame
result = data.apply(adding_the_value)

print("Original DataFrame:")
print(data)

print("Result after applying the custom function:")
print(result)

Original DataFrame:
     A    B   C
0  3.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  1.0  8.0  12
Result after applying the custom function:
     A     B   C
0  6.0   8.0  12
1  5.0   NaN  13
2  NaN  10.0  14
3  4.0  11.0  15

In [38]:
import pandas as pd

# Create a DataFrame with sample data
data = pd.DataFrame({
    "Group": ["A", "B", "A", "B", "A", "B"],
    "Value": [10, 15, 20, 25, 30, 35],
    "Age"  : [12 ,23 , 34, 45, 56,67]
})

# Group the data by the "Group" column and calculate the mean of each group
grouped_data = data.groupby(by="Group").mean()

# Display the grouped and aggregated data
print(grouped_data)

       Value   Age
Group
A       20.0  34.0
B       25.0  45.0

In [44]:
data1 = pd.DataFrame({
    "A": [3, 2, 7, 1],
    "B": [5, 6, 7, 8],
    "C": [9, 10, 11, 12]
})

data2 = pd.DataFrame({
    "A": [7, 8, 9],
    "B": [10, 11, 12]
})

# combined_data = data1.append(data2)

combined_data = pd.concat([data1, data2])
print(combined_data)
print("----------------------------")
print(combined_data.fillna(0))

   A   B     C
0  3   5   9.0
1  2   6  10.0
2  7   7  11.0
3  1   8  12.0
0  7  10   NaN
1  8  11   NaN
2  9  12   NaN
----------------------------
   A   B     C
0  3   5   9.0
1  2   6  10.0
2  7   7  11.0
3  1   8  12.0
0  7  10   0.0
1  8  11   0.0
2  9  12   0.0