Creating series

In [18]:
import pandas as pd 
import numpy as np

a=np.array([" shankar","gourav","Ravi"])
S=pd.Series(a) # print data in series
print(S)

S=pd.Series((110,20,30,40,50))
print(S)

0     shankar
1      gourav
2        Ravi
dtype: object
0    110
1     20
2     30
3     40
4     50
dtype: int64

In [31]:
import numpy as np
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S) # print the data with index number

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int32

In [32]:
a=np.array([10,20,30,40,50,60,70,80,90,100])
S=pd.Series(data=a , index=["a","b","c","d","e","f","g","h","i","j"])
print(S["d"]) # Data find

40

Creating series using lists

In [43]:
l=[10,20,30,40,50]
pd.Series(l) # create series usiong list method

0    10
1    20
2    30
3    40
4    50
dtype: int64

Series using Dictionary

In [45]:
D={"A":100,"B":200,"C":300,"D":400,"E":500}
pd.Series(D)

A    100
B    200
C    300
D    400
E    500
dtype: int64

Crating data frames

In [59]:
import pandas as pd

df={ "Name" :["Ravi","Ramesh","Ganesh","Ragu","Ramu"],
    "catagory":["2A","3B","SC","ST","OBC"]}
myvar=(pd.DataFrame(df)) # creating the data frame
print(myvar)
print("---------------------")

myvar.loc[4]

     Name catagory
0    Ravi       2A
1  Ramesh       3B
2  Ganesh       SC
3    Ragu       ST
4    Ramu      OBC
---------------------

Name        Ramu
catagory     OBC
Name: 4, dtype: object

In [ ]:
# accessing rows by using loc keyword

Loading Files Into a DataFrame

java script operate nottion (json)